<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-4.0.xsd"

>

    <!--bean自动注入-->
    <context:component-scan base-package="com.myblog.dao,com.myblog.service,com.myblog.service.serviceImp"/>
    <!--引入配置文件-->
    <context:property-placeholder location="classpath:blogDataBase.properties"/>
    <!--定义数据源-->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
        <property name="user" value="${jdbc.uid}"/>
        <property name="password" value="${jdbc.pwd}"/>
        <property name="driverClass" value="${jdbc.driver}"/>
        <property name="jdbcUrl" value="${jdbc.url}"/>
        <property name="maxPoolSize" value="${jdbc.maxActive}"/>
        <property name="initialPoolSize" value="${jdbc.initialSize}"/>
        <property name="maxIdleTime" value="${jdbc.maxWait}"/>
    </bean>
    <!--Session管理-->
    <bean id="sqlSessionFactory"
          class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="configLocation" value="classpath:mybatisConfig.xml"/>
        <property name="typeAliasesPackage" value="com.myblog.model"/>
        <property name="mapperLocations" value="classpath:mapping/*.xml"/>
    </bean>
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
        <property name="basePackage" value="com.myblog.dao"/>
    </bean>

    <!--mybatis事务管理-->
    <bean id="transacationManager"
          class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>
    <!--事务增强-->
    <tx:advice id="txAdvice" transaction-manager="transacationManager">
        <tx:attributes>
            <tx:method name="get*" read-only="true"/>
        </tx:attributes>
    </tx:advice>
    <!--使用切点表达式语言定义目标方法-->
    <aop:config>
        <!--aop定义事务增强切面-->
        <aop:pointcut id="serviceMethod" expression="execution(* com.myblog.service.*Imp.*(..))"/>
        <!--引用事务增强-->
        <aop:advisor advice-ref="txAdvice" pointcut-ref="serviceMethod"/>
    </aop:config>


</beans>